@media (max-width: 1260px){
    .c-layout {
        width: 100%;
        padding: 0 24px;
    }

    .portfolio-list {
        max-width: 100%;
    }
    .news-list,
    .advantages-list,
    .services-list {
        margin-right: -15px;
        margin-left: -15px;
    }

    .news-list__item,
    .advantages-list__item,
    .services-list__item {
        padding: 15px;
    }

    .banner-body {
        left: 24px;
    }

    .footer-menu__col {
        padding-right: 15px;
    }


}

@media (max-width: 1100px){

    .reviews {
        padding: 25px 0 35px;
    }

    .reviews .c-title,
    .portfolio .c-title {
        margin-bottom: 20px;
    }

    .c-title {
        font-size: 40px;
    }

    .banner .c-layout {
        min-height: 50vw;
    }

    .footer-body {
        flex-flow: row wrap;
    }

    .footer-contact {
        flex: 1 0 100%;
        text-align: center;
    }

    .footer-phone,
    .footer-callback {
        width: auto;
        display: inline-block;
        margin: 0 10px;
    }

    .footer-menu {
        flex:1;
        justify-content: space-between;
        padding-left: 0;
    }

    .footer-logo {
        margin-right: 50px;
    }

    .footer-body {
        margin-bottom: 30px;
    }
}

@media (max-width: 1024px){
    .reviews-list__item {
        padding: 0;
    }

    .reviews .slick-next {
        right: 0;
    }


    .news-list {
        display: block;
    }
    .news-list__item {
        display: inline-block;
        width:auto;
    }

    .scheme-list__item {
        padding: 0 10px;
        width: 43%;
    }

    .useful-list__item {
        width: 50%;
    }


}

@media (max-width: 980px){
    .header-mobile-btn{
        display: inline-block;
    }

    .header-contact {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
    }

    .header-phone {
        margin: 0 20px 0 0;
    }


    .header-menu {
        display: none;
        position: absolute;
        top: 111%;
        left: -24px;
        right: -24px;
        background-color: #fff;
        padding: 24px;
        box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.1);
    }

    .header-menu.is-show {
        display: block;

    }

    .header-menu__item {
        text-align: center;
    }
    .header-menu__item a {
        display: inline-block;
        padding: 10px 0;
    }

    .header-logo {
        height: 60px;
        margin-right: 0;
    }
    .header-logo img {
        height: 100%;
    }

    .header-contact {
        margin-left: 0;
    }

    .banner-body {
        max-width: 551px;
        font-size: 39px;
    }

    .banner-body span {
        font-size: 78px;
        display: block;
    }

    .services-card {
        height: 260px;
    }
}

@media (max-width: 920px){
    .footer-logo {
        flex: 1 0 100%;
        margin: 0 0 30px 0;
        text-align: center;
    }
    .footer-logo a{
        display: inline-block;

    }

    .footer-menu {
        /*justify-content: center;*/
    }

    .document .c-table-row {
        display: block;
    }

    .document .c-table-col {
        width: 100%;
    }

    .document .c-ol-list li {
        margin-bottom: 11px;
    }
    .document .c-table-col {
        margin-bottom: 10px;
    }

    .document .c-col {
        padding: 0;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 8px;
    }

    .document .c-grid {
        margin: 0;
        display: block;
    }
}
@media (max-width: 860px){
    .partner-list__item {
        width: 50%;
    }

    /*.footer-menu {*/
        /*max-width: 390px;*/
        /*margin: 0 auto;*/
    /*}*/

    .footer-menu__col {
        /* margin: 0 15px 20px; */
        width: 50%;
    }

}
@media (max-width: 730px){
    .advantages-list {
        display: block;
        margin: 0;
    }

    .advantages-list__item {
        width: 100%;
        padding: 0;
        margin-bottom: 30px;
    }

    .stage-list__arrow {
        display: none;
    }

    .stage-list__item {
        padding: 0 10px;
    }

    .stage {
        background-position: 100% 0;
    }

}

@media (max-width: 700px){
    .stage-list {
        display: block;
    }

    .stage-card__text {
        max-width: 100%;
    }

    .banner-body {
        max-width: 463px;
        font-size: 36px;
    }

    .banner-body span {
        font-size: 60px;
    }

    .benefits-list__item {
        width: 200px;
    }

    .benefits-list {
        justify-content: center;
    }
}
@media (max-width: 580px){
    .services-list {
        margin: 0;
    }
    .services-list__item {
        width: 100%;
        padding: 0;
        margin-bottom: 35px;
    }

    .services-list__item:last-child {
        margin-bottom: 0;
    }

    .header-phone {
        margin: 0 10px 0 0;
    }

    .header-mobile-btn {
        width: 35px;
    }

    .footer-menu {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }

    .footer-menu__col {
        width: 100%;
        text-align: center;
        padding-right: 0;
    }

    .footer-menu__title {
        margin-bottom: 8px;
    }

    .footer-menu-list__item {
        margin-bottom: 3px;
    }

    .footer-logo {
        margin: 0 0 19px 0;
    }
}

@media (max-width: 680px){
    .scheme-list__item {
        width: 100%;
        margin-bottom: 28px;
    }

    .scheme-card__title {
        max-width: 100%;
        text-align: center
    }

    .scheme-list__arrow {
        margin: 0 auto 28px;
        transform:rotate(90deg);
    }

    .calculator .c-grid {
        display: block;
    }

    .calculator .c-col {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 14px 14px 10px;
    }

    .calculator-range__total {
        margin-bottom: 5px;
    }
}

@media (max-width: 640px){
    .useful-list__item {
        width: 100%;
    }

    .useful-card__img {
        margin-bottom: 10px;
    }
}

@media (max-width: 520px){
    .banner-body {
        position: static;
        transform: none;
        text-align: center;
        padding: 40px 0 200px;
        font-size: 32px;
    }

    .banner {
        background-position: 50% 0;
    }
}
@media (max-width: 500px){
    .header-body {
        display: block;
        text-align: center;
    }

    .header-contact {
        display: block;
        text-align: center;
    }

    .header-callback a {
        width: auto;
    }

    .header-contact {
        margin-bottom: 28px;
    }

    .header {
        padding: 24px 0;
    }

    .header-logo {
        height: 87px;
        margin-bottom: 32px;
    }

    .header-phone {
        margin: 0 0 8px 0;
    }

    .header-menu {
        top: 109%;
    }

    .c-title {
        text-align: center;
        display: block;
        border-bottom: 0;
    }

    .advantages-card {
        display: block;
        text-align: center;
    }

    .reviews-card {
        display: block;
    }

    .reviews-card__user {
        margin: 0 auto 20px;
    }

    .reviews-card__title {
        text-align: center;
    }

    .portfolio .slick-next,
    .reviews .slick-next {
        right: -10px;
    }
}

@media (max-width: 460px){
    .partner-list__item {
        width: 100%;
    }

    .footer-phone {
        display: block;
        margin-bottom: 10px;
    }
}
@media (max-width: 420px){
    .c-layout {
        padding: 0 15px;
    }
}