.banner {
    background: url(../img/banner-home.jpg) 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;

    .c-layout {
        position: relative;
        min-height: 680px;
    }

    &-body {
        position: absolute;
        top: 50%;
        left: 0;
        transform:translateY(-50%);
        max-width: 610px;
        font-size: 48px;
        color: #373737;

        a {
            text-decoration: none;
            border-bottom: 2px solid #ec323d;
        }

        span {
            font-size: 100px;
            color: #ec323d;
        }

    }
}


.c-title {
    font-size: 48px;
    color: #000000;
    margin-bottom: 14px;
    border-bottom: 1px solid #000;
    display: inline-block;
}
/*services ----------------*/
.services {
    padding: 30px 0 30px;
    background: url(../img/services-bg.jpg) 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    &-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: -35px;
        margin-right: -35px;

        &__item {
            width: 50%;
            padding: 35px;
        }
    }

    &-card {
        min-height: 290px;
        position: relative;
        -webkit-background-size: cover;
        background-size: cover;

        &__body {
            position: absolute;
            bottom: 25px;
            left: 25px;
            color: #ffffff;
        }

        &__title {
            font-size: 30px;
            margin-bottom: 10px;
            font-weight: 700;
        }

        &-list {
            &__item {
                margin-bottom: 6px;
            }
        }

        &__link {
            font-size: 21px;
            color: #ffffff;
            text-decoration: none;
            font-weight: 300;
        }

    }

    .c-title {
        color: #ffffff;
        border-color:#fff;
    }
}

/*advantages-----------------*/

.advantages {
    background: url(../img/advantages-bg.jpg) 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 55px 0 20px;
    &-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: -35px;
        margin-right: -35px;

        &__item {
            width: 50%;
            padding: 35px;
        }
    }

    &-card {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;

        &__num {
            font-size: 100px;
            line-height: 1;
            font-weight: 400;
            color: #ea2830;
            margin-right: 15px;
        }

        &__body {

        }

        &__text {
            font-size: 18px;
            color: #302f2f;
            line-height: 1.2;

        }

    }


}


/*stage-----------------*/
.stage {
    background: url(../img/stage-bg.jpg) 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 55px 0 20px;
    &-list {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: stretch;

        &__item {
            margin-bottom: 20px;
        }

        &__arrow {
            margin-top: 23px;
            white-space: nowrap;

            .icon-arrow-next {
                &:first-child {
                    opacity: .5;
                }
            }

        }
    }

    &-card {
        text-align: center;
        color: #ffffff;
        &__img {
            text-align: center;
            margin-bottom: 16px;
        }

        &__title {
            font-size: 24px;
            margin-bottom: 12px;

        }

        &__text {
            max-width: 230px;
            font-size: 18px;

        }
    }

    .c-title {
        color: #ffffff;
        border-color: #ffffff;
        margin-bottom: 35px;
    }
}

.icon-arrow-next {
    display: inline-block;
    width: 23px;
    height: 43px;
    background: url(../img/arrow-next.png) 0 0 no-repeat;
}


/*license-----------------*/
.license {
    background: url(../img/license-bg.jpg) 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 55px 0 20px;
    &-list {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: stretch;
        margin-left: -10px;
        margin-right: -10px;

        &__item {
            margin-bottom: 20px;
            //width: 33.333%;
            padding: 0 10px;
        }
    }

    &-card {
        text-align: center;
        color: #ffffff;
        &__img {
            text-align: center;
            margin-bottom: 16px;

            img {
                width: 100%;
                height: auto;
            }
        }

    }

    .c-title {
        margin-bottom: 55px;
    }
}


/*license-----------------*/
.partner {
    background-color: #fff;
    padding: 55px 0 20px;
    &-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: stretch;

        &__item {
            width: 25%;
            margin-bottom: 20px;
        }
    }

    &-card {
        text-align: center;
        color: #ffffff;
        &__img {
            text-align: center;
            margin-bottom: 16px;
        }

    }

    .c-title {
        margin-bottom: 55px;
    }
}

/*portfolio-----------------*/

.portfolio {
    background: url(../img/portfolio-bg.jpg) 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 55px 0 65px;

    .c-title {
        margin-bottom: 50px;
    }
    &-list {
        max-width: 850px;
        &__item {
        }
    }

    &-card {
        padding: 35px 22px;

        background-color: rgba(255, 255, 255,.5);
        box-shadow: 0px 5px 35.34px 2.66px rgba(0, 0, 0, 0.19);


        &__list {

        }

        &__icon {
            margin-right: 15px;
        }

        &__item {
            margin-bottom: 25px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;

            &:last-child {
                margin-bottom: 0;
            }

            span {
                color: #ea2830;
            }
        }
    }

    .slick-prev {
        display: none;
    }


}

/*reviwes-------------------------*/
.reviews {
    padding: 55px 0 65px;
    background: rgb(235,50,60);
    background: -moz-linear-gradient(left, rgba(235,50,60,1) 0%, rgba(1,115,169,1) 100%);
    background: -webkit-linear-gradient(left, rgba(235,50,60,1) 0%,rgba(1,115,169,1) 100%);
    background: linear-gradient(to right, rgba(235,50,60,1) 0%,rgba(1,115,169,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb323c', endColorstr='#0173a9',GradientType=1 );

    .c-title {
        margin-bottom: 50px;
        color: #ffffff;
        border-color: #fff;
    }
    &-list {
        &__item {
            padding: 15px;
        }
    }

    &-card {
        padding: 30px 60px 30px 22px;
        background-color: #fff;
        border-radius: 6px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-start;

        &__list {

        }

        &__user {
            margin-right: 15px;
            width: 125px;
            height: 125px;
            overflow: hidden;
            border-radius: 150px;
            position: relative;
            flex: 1 0 auto;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }

        &__title {
            color: #ef9f30;
            margin-bottom: 10px;
        }

        &__body {

            &:last-child {
                margin-bottom: 0;
            }

            span {
                color: #ea2830;
            }
        }
    }
    .slick-next {
        right: 15px;
    }
}


/*news----------------*/
.news {
    padding: 40px 0 40px;
    &-list {
        margin-left: -20px;
        margin-right: -20px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: stretch;

        &__item {
            width: 33.333%;
            padding: 20px;
        }
    }

    &-card {
        border-radius: 6px;
        padding: 26px;
        background-color: #fff;
        box-shadow: -1px 0px 20.79px 0.21px rgba(0, 0, 0, 0.25);


        &__date {
            position: relative;
            padding-left: 50px;
            font-size: 20px;
            color: #1f1f1f;
            margin-bottom: 26px;

            &::after {
                content: '';
                position: absolute;
                top: -6px;
                left: 0;
                width: 33px;
                height: 33px;
                background: url(../img/icon-calendar.png) 0 0 no-repeat;
            }

        }

        &__img {
            height: 190px;
            overflow: hidden;
            margin-bottom: 20px;
            img {
                width: 100%;
            }

        }

        &__title {
            font-size: 21px;
            color: #1f1f1f;
            line-height: 1;
        }
    }


}