.banner {
    min-height: 680px;
    background: url(../img/banner-home.jpg) 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.footer {
    background-color: #f3f3f3;
    height: 225px;
}

.c-title {
    font-size: 48px;
    color: #000000;
    margin-bottom: 14px;
    border-bottom: 1px solid #000;
    display: inline-block;
}
/*services ----------------*/
.services {
    padding: 30px 0 30px;
    background: url(../img/services-bg.jpg) 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    &-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;

        &__item {
            width: 50%;
            padding: 35px;
        }
    }

    &-card {
        min-height: 290px;
        position: relative;

        &__body {
            position: absolute;
            bottom: 25px;
            left: 25px;
            color: #ffffff;
        }

        &__title {
            font-size: 30px;
            margin-bottom: 10px;
            font-weight: 700;
        }

        &-list {
            &__item {
                margin-bottom: 6px;
            }
        }

        &__link {
            font-size: 21px;
            color: #ffffff;
            text-decoration: none;
            font-weight: 300;
        }

    }

    .c-title {
        color: #ffffff;
        border-color:#fff;
    }
}

/*advantages-----------------*/

.advantages {
    background: url(../img/advantages-bg.jpg) 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 55px 0 20px;
    &-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;

        &__item {
            width: 50%;
            padding: 35px;
        }
    }

    &-card {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;

        &__num {
            font-size: 100px;
            line-height: 1;
            font-weight: 400;
            color: #ea2830;
            margin-right: 15px;
        }

        &__body {

        }

        &__text {
            font-size: 18px;
            color: #302f2f;
            line-height: 1.2;

        }

    }


}