.c-symbol {
    display: inline-block;
    fill: #121214;
}

.symbol-arrow-right,
.symbol-arrow-left {
    font-size: 27px;
    width: 1em;
    height: 1.6em;
}

.symbol-arrow-up,
.symbol-arrow-down {
    font-size: 44px;
    width: 1em;
    height: .6em;
}